{
    auto_https off
    admin off
}

http://:8080 {
    root * /app/public

    mercure {
        publisher_jwt {$MERCURE_JWT_SECRET}
        subscriber_jwt {$MERCURE_JWT_SECRET}
        anonymous
        transport local
        cors_origins {$APP_ORIGIN} tauri://localhost
    }

    php_server {
        worker /app/public/index.php
    }
}
